@import 'libs/reset';
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");



body {
  p, h1, h2, h3, h4, h5, h6 {
    font-family: $font_family;
    font-size: $font_size;
  }
  h1 {
    font-size: $font_size_h1;
  }
  h2 {
    font-size: $font_size_h2;
  }
  h3 {
    font-size: $font_size_h3;
  }
  h4 {
    font-size: $font_size_h4;
  }
  h5 {
    font-size: $font_size_h5;
  }
  h6 {
    font-size: $font_size_h6;
  }
}

.main {
  min-height: 100vh;
  background: linear-gradient(to bottom, #2c68e0 0%,#74a0ed 100%);
  overflow: hidden;

  .project {
    display: inline-block;
    margin: $margin;
    padding: $padding;
    text-align: center;
    float: left;
    background: linear-gradient(to bottom, #f25730 0%,#f4b555 100%);
    border-radius: 5px;
    box-shadow: 2px 4px 5px 2px #424242;

    transition: box-shadow $duration_transition ease-in-out, padding $duration_transition ease-in-out, margin $duration_transition ease-in-out;

    &:hover {
      box-shadow: 2px 4px 5px 2px #4B4B4B;
      padding: $padding + 2px;
      margin: $margin - 2px;
    }

    .text {
      color: black;
      text-decoration: none;
    }
  }
}